
@{
    ViewBag.Title = "Exibe Cadastro Aluno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<fieldset>
    <legend>Exibe dados Aluno</legend>
    <div>
        <strong>id Aluno: </strong>@ViewBag.idAluno
    </div>

    <div>
        <strong>Nome Aluno: </strong>@ViewBag.Nome
    </div>

    <div>
        <strong>Email Aluno: </strong>@ViewBag.Email
    </div>

</fieldset>
