<div>
    @Html.ActionLink("Home", "Index","Home")&nbsp;&nbsp;
    @Html.ActionLink("Sobre", "Sobre","Home")&nbsp;&nbsp;
    @Html.ActionLink("Cadastro Aluno", "CadastroAluno", "CadastroAluno")&nbsp;&nbsp;
    @*ActionLink(Nome_de_exibicao_btn , pagina_alvo, Nome do controler *sem o Controller no final do nome) *@
</div>
